Checks: '*,-altera-*,-fuchsia-*,-llvmlibc-*-namespace,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-llvmlibc-restrict-system-libc-headers,-portability-restrict-system-includes,-cppcoreguidelines-pro-type-cstyle-cast,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-avoid-magic-numbers,-hicpp-vararg,-readability-magic-numbers,-concurrency-mt-unsafe,-hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-avoid-non-const-global-variables,-misc-use-anonymous-namespace,-misc-const-correctness,-readability-identifier-length,-cppcoreguidelines-pro-type-member-init,-readability-function-cognitive-complexity,-cert-err58-cpp,-hicpp-member-init-readability-simplify-boolean-expr,-modernize-use-trailing-return-type'
HeaderFilterRegex: 'lib_unit_tests.hpp'
