CompileFlags:
  Add:
    - '-I'
    - /usr/local/include

---
If:
  PathMatch: test/src/.*

CompileFlags:
  CompilationDatabase: "test"

Diagnostics:
  ClangTidy:
    Remove:
    - cppcoreguidelines-pro-bounds-pointer-arithmetic
    - llvmlibc-*
    - fuchsia-*
    - altera-struct-pack-align
